@use "../../style/globals" as g;

.nav {
  z-index: 1000;
  position: fixed;
  backdrop-filter: blur(10px) brightness(80%);
  height: 8rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.1rem #737373;
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 8.33vw;
    .logo a {
      text-decoration: none;
      font-size: 3rem;
      font-weight: 600;
      color: var(--white);
    }
    .nav-links {
      display: flex;
      align-items: center;
      gap: 4rem;
      position: relative;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--white);
          font-size: 1.6rem;
          font-weight: 300;
          position: relative;
        }
      }
      .indicator {
        position: absolute;
        bottom: -19px;
        width: 0px;
        height: 3px;
        background-color: var(--accent);
      }
    }
  }
  @include g.breakpoints-down(tablet) {
    display: none;
  }
}

//Mobile nav
.nav-mobile {
  @include g.breakpoints-up(tablet) {
    display: none;
  }
}
